/* Register.css */

.container {
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
  }
  
  .label {
    margin-bottom: 5px;
  }
  
  .input {
    width: calc(100% - 10px);
    margin-bottom: 10px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  .button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }
  
  .button:hover {
    background-color: #0056b3;
  }
  .input.invalid {
    border-color: #ff0000; /* 빨간 테두리 */
  }
  
  .error-message {
    color: #ff0000; /* 빨간 글씨 */
    font-size: 12px;
    margin-top: 5px;
  }